.hero{
    background: url(/images/hero-bg-cm.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    /* height: 620px; */
    display: flex;
    align-items: center;
}

